 <div class="container mt-4">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :avatar, class: "form-label" %>
        <%= f.file_field :avatar, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :first_name, class: "form-label" %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :last_name, class: "form-label" %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <%= fields_for :address, resource.address do |c| %>
        <%= c.hidden_field :id %>
        <div class="container card">
          <legend>Address</legend>
          <div class="mb-3">
            <%= c.label :street, class: "form-label" %>
            <%= c.text_field :street, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= c.label :city, class: "form-label" %>
            <%= c.text_field :city, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= c.label :state, class: "form-label" %>
            <%= c.text_field :state, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= c.label :zip, class: "form-label" %>
            <%= c.text_field :zip, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= c.label :country, class: "form-label" %>
            <%= c.text_field :country, class: "form-control" %>
          </div>
        </div>
      <% end %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb-3">
        <%= f.label :password, class: "form-label" %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <small><%= @minimum_password_length %> characters minimum</small>
        <% end %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :current_password, class: "form-label" %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.submit "Update", class: "btn btn-success" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger mt-2" %></div>

    <%= link_to "Back", :back, class: "btn btn-primary mt-4 mb-4" %>
  </div>