<div class="container">
  <h1 class="text-center">Administrator</h1>
  <%= render "admin/nav_links" %>
  <div class="row mt-5">
    <p>
      <strong>Comment:</strong> <%= @comment.body %>
    </p>
  </div>
  <div class="row mt-1">
    <p>
      <strong>Author:</strong> <%= @comment.user.full_name %>
    </p>
  </div>
  <div class="row mt-1">
    <p><strong>Post Title:</strong>
      <%= "#{@comment.post.title}" %>
    </p>
  </div>
  <div class="row mt-1">
    <p><strong>Post Author:</strong>
      <%= "#{@comment.post.user.full_name}" %>
    </p>
  </div>
</div>
<div class="text-center mt-5">
    <div class="btn-group">
      <%= button_to "Delete", [@post, @comment], method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %>
    </div>
  </div>
