<div id="<%= dom_id post %>">
  <h2><%= post.title %></h2>
  <h4>posted by <%= link_to post.user.full_name, user_path(post.user), class: "text-decoration-none" %></h4>
  <h6><%= pluralize(post.views, "view") %></h6>
  <div class="card-text">
    <%= post.body %>
  </div>
</div>