<%= form_with(model: category, class: "my-4") do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-4">
    <%= form.label :name %>
    <div class="row">
      <div class="col-md-4">
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-check">
    <%= form.label :display_in_nav, class: "form-check-label" %>
    <%= form.check_box :display_in_nav, class: "form-check-input" %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
